@page
@model IndexModel
@{
    ViewData["Title"] = "LucidLogic Home";
}

<div class="text-center">
    <h1 class="display-4">LucidLogic</h1>
    <p>Creating a new Lucid Logic Page. Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
